<div [hidden]="!show" class="backdrop" (click)="show = false">
    <div class="container">
        <span>
            <p>Cookies</p>
            <i class="fa-solid fa-cookie-bite"></i>
        </span>
    
        <div>
            <p>
                Bem-vindo ao nosso site! Antes de prosseguir, queremos explicar como usamos cookies e por que precisamos do seu consentimento.
    
                Os <b>cookies</b> são pequenos arquivos de texto armazenados no seu navegador enquanto você navega na web. Eles têm diferentes finalidades, como melhorar a experiência de navegação, lembrar suas preferências e ajudar a analisar o tráfego do site.
    
                Precisamos do seu consentimento para utilizar cookies, de acordo com as regulamentações de privacidade. Este consentimento nos permite fornecer um serviço mais personalizado. Os tipos de cookies que usamos incluem:
    
                <br>
                <br>
    
                <b>Cookies Essenciais:</b> São necessários para o funcionamento básico do site. Eles incluem, por exemplo, cookies que permitem que você faça login em áreas seguras do nosso site.
    
                <br>
    
                <b>Cookies de Desempenho:</b> Nos ajudam a entender como os visitantes interagem com o site, fornecendo informações sobre áreas visitadas, tempo gasto no site, e quaisquer problemas encontrados, permitindo-nos melhorar a usabilidade.
    
                <br>
    
                <b>Cookies de Funcionalidade:</b> Permitem que o site se lembre das escolhas feitas (como nome de usuário, idioma ou região) e oferecem recursos aprimorados e mais personalizados.
    
                <br>
    
                <b>Cookies de Publicidade:</b> São utilizados para fornecer anúncios mais relevantes para você e seus interesses. Eles também podem ser usados ​​para limitar o número de vezes que você vê um anúncio e ajudam a medir a eficácia das campanhas publicitárias.
    
                <br>
                <br>
    
                Ao clicar em <b>"Aceitar"</b>, você concorda com o uso de todos os tipos de cookies mencionados acima. Você pode revisar suas escolhas a qualquer momento em nossas configurações de cookies.
    
                <br>
                <br>
    
                Obrigado por visitar nosso site e por confiar em nós com seus dados. Se tiver alguma dúvida, não hesite em entrar em contato conosco.
            </p>
        </div>
    
        <div class="cookie_buttons">
            <button mat-raised-button (click)="acceptCookies()">Aceitar</button>
        </div>
    </div>
</div>