@if(isLoaded) {
    <div class="container">
    <div class="offer">
        <h2>Adicionar nova oferta:</h2>

        <form [formGroup]="form">

            <label for="tipo">Tipo: </label>

            <select formControlName="type" name="tipo" id="tipo" #tipo (change)="changeType(tipo.value)">
                <option value="pokemon">Pokemon</option>
                <option value="hd">HDS</option>
                <option value="item">Item</option>
                <option value="tm">TM</option>
            </select>

            @if(type === "pokemon") {
                <label for="pokemons">Pokemon: </label>
                <input type="text" formControlName="header" [matAutocomplete]="auto" (input)="searchPokemon($event)">
                <mat-autocomplete #auto="matAutocomplete">
                    @for(itens of filteredPokes; track $index) {
                        <mat-option [value]="itens.poke">{{ itens.poke }}</mat-option>
                    }
                </mat-autocomplete>
            
            }

            @if(type === "hd") {
                <label for="hds">Quantidade: </label>
                <input formControlName="header" type="text" id="hds" >

            } 
            
            @if(type === "item") {
                <label for="itens">Item: </label>
                <input formControlName="header" type="text" id="item">
            }
            @if(type === "tm") {
                <label for="tm">TM: </label>
                <input formControlName="header" type="text" id="item">
            }


            <label for="servidores">Mundo: </label>
            <select formControlName="mundo" name="servidores" id="servidores">

                @for(server of servidores; track $index) {
                    <option [value]="server">{{ server }}</option>
                }
            </select>

            <label for="description">Descrição: </label>
            <textarea formControlName="description" cols="30" rows="5" type="text" placeholder="Descreve seu item em detalhes."></textarea>

            <label for="price">Preço: </label>
            <input formControlName="price" type="text" id="price" (keyup)="filterNumber(preco.value, $event)" #preco>
            <small>Por favor apenas numeros.</small>

            <button class="transition_all" type="button" (click)="sendForm(form)">Anunciar</button>
        </form>
    </div>
</div>
}
@else {
    <app-loading-spinner></app-loading-spinner>
}
