@if(isLoaded) {
    <main class="container page_padding">
        <h1>Fazer Saque</h1>
    
        <div class="dep_alert rounded_small box_shadow">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span>Pelo site estar na versão beta, o saque é FALSO e não envolve dinheiro real.</span>
        </div>
    
        <div class="dep_form">
    
            <form [formGroup]="cashoutForm">
                <label for="ammount">Valor:</label>

                <input type="text" id="ammount" required formControlName="ammount" (keyup)="filterNumber(deposit.value, $event)" #deposit>

                <label for="password">Senha:</label>
                <input type="password" id="password" required formControlName="password" >

                <button [style]="{
                    opacity: cashoutForm.valid ? '1' : '0'
                }" 
                [disabled]="!cashoutForm.valid"
                class="box_shadow transition_all" (click)="cashout()">Sacar</button>
            </form>
        </div>
    </main>
}@else {
    <app-loading-spinner></app-loading-spinner>
}