@if(isOpen) {
    <section [@openClose] class="box_shadow rounded_medium poppins-regular">
        <h2>Cuidado!</h2>
        <p>Este site está na versão beta e não deve ser usado para trocas reais.</p>
        <p>Essa versão é apenas para testar as funcionalidades.</p>
        <p>Recomendamos que NÃO usem esse site para trocas reais.</p>

        <small>esse aviso aparecerá 1 vez por dia na versão BETA por questão de segurança. (ESC para sair)</small>
        <small>Aproveite o site e deixe seu feedback!</small>

        <img src="./../../../../assets/img/OTP2PLOGOgengar.png" 
        height="200px">
    </section>

}