@if(isLoaded) {

    <div class="container">
    
        <!-- player info -->
        <div class="player rounded_small transition_all">
    
            <h2>{{ playerItem.player }}</h2>
            <div style="width: 100%; display: flex; justify-content: flex-end;">
                <span class="rounded_all box_shadow" 
                [style]="{
                    backgroundColor: playerItem.mundo,
                    width: '40px',
                    textAlign: 'center',
                    fontSize: '12px',
                }">{{ playerItem.mundo }}</span>
            </div>
            <span>Vendedor nivel <p [style]="{color: 'var(--' + playerItem.badge + ')'}">{{ playerItem.badge }}</p></span>
        
        </div>
    
        <!-- player items and infos -->
        <div class="player_lists rounded_small">
    
            <small>Avaliações</small>
            <ul class="rounded_small">
                @for(av of avaliacao; track $index) {
                    <li>
                        
                        <app-rating-card [item]="av"></app-rating-card>
                        
                    </li>
                } @empty {
                    <li>Player ainda não recebeu avaliações.</li>
                }
            </ul>
    
            <small>Vendas</small>
            <ul class="rounded_small">
                @for(vd of vendas; track $index) {
                    <li>
                        <span>{{ vd.trade_player }}</span>
                        <app-infocard [card]="vd"></app-infocard>
                    </li>
                }
                @empty {
                    <li>Player ainda não tem vendas.</li>
                }
            </ul>
    
            <small>Compras</small>
            <ul class="rounded_small">
                @for(cp of compras; track $index) {
                    <li>
                        <app-infocard [card]="cp" [type]="'compra'"></app-infocard>
                    </li>
                }
                @empty {
                    <li>Player ainda não tem compras.</li>
                }
            </ul>
    
            <small>Anuncios ativos deste vendedor:</small>
            <ul class="rounded_small">
                @for(an of anuncios; track $index) {
                    <li>
                        <span>{{ an.player }}</span>
                        <app-card [card]="an"></app-card>
                    </li>
                }
                @empty {
                    <li>Player ainda não tem anúncios ativos.</li>
                }
            </ul>
    
        </div>
    
        <div class="comment">
            <small>
                Avalie ou denuncie este jogador:
            </small>
    
            <!-- form to send rating -->
            <form [formGroup]="form">
    
                <label for="text">Escreva aqui:</label>
                <textarea class="rounded_small" required formControlName="message" id="text" cols="30" rows="10"></textarea>
    
                <label for="type">Isso é uma denuncia?</label>
    
                <div class="checkbox_inpt">
    
                    <label class="checkb_container">
                        <input type="checkbox" formControlName="denuncia" id="denuncia" checked="checked">
                        <span class="checkmark"></span>
                    </label>
    
                </div>
            </form>
    
            <a [style]="{
                display : form.status === 'VALID' ? 'grid' : 'none'
            }" class="box_shadow" (click)="sendForm(form)">
                <span class="text_shadow">Enviar</span>
            </a>
    
        </div>
    
    </div>
}
@else {
    <app-loading-spinner></app-loading-spinner>
}