
main {
    width: 100%;
    min-height: 90dvh;

    display: flex;
    flex-direction: column;
    gap: var(--basic-gap);
}

main .filters ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: var(--basic-gap);
    padding: 7px;
    background-color: #232323;
}

main .filters ul li {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.300rem;
    color: #fff;
    text-align: center;
    transition: all 300ms ease;
}

main .filters ul li:hover {
    background-color: var(--terciary-color);
}
a {
    text-decoration: none; 
    color: #fff;
    font-size: .8rem;
    text-wrap: nowrap;
}

[actived-filter] {
    background-color: var(--secondary-color);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@media(min-width: 768px) {
    main .filters ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main .filters ul li { flex: 1 1 0;}
}