<div class="container page_padding">
    @if(isLoaded) {
        <main>
            <div class="filters">
                <ul class="box_shadow rounded_medium">
                    <li id="buysales" (click)="addFilterByRoute('buysales')" routerLink="filter/buysales">
                        <a>Compra e venda</a>
                    </li>
                    <li id="geral" (click)="addFilterByRoute('geral')" routerLink="filter/geral">
                        <a>Geral</a>
                    </li>
                    <li id="terms" (click)="addFilterByRoute('terms')" routerLink="filter/terms">
                        <a>Termos</a>
                    </li>
                    <li id="politics" (click)="addFilterByRoute('politics')" routerLink="filter/politics"> 
                        <a>Politicas</a>
                    </li>
                    <li id="contact" (click)="addFilterByRoute('contact')" routerLink="filter/contact">
                        <a>Contato</a>
                    </li>
                </ul>
            </div>
    
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </main>
    }

    @else {
        <app-loading-spinner></app-loading-spinner>
    }
</div>