<div class="card" (click)="goToItem()">
    @if(card.playerType === "revendedor"){

        <div
            [style]="{ zIndex: 979}" 
            matTooltip="Este é um revendedor verificado."
            matTooltipPosition="above"
            class="badge_revendedor">
            <i class="fa-solid fa-certificate text_shadow"></i>
        </div>
        
    }
    <span class="title text_shadow">{{ card.header | header: card.type }}</span>
    <div class="card_center">
        <div style="width: 100%; display: grid; place-items: center;">
            
            <img [src]="source" alt="pokemon">
        </div>
        <div [style]="{backgroundColor: card.mundo}" class="server_bg"></div>
    </div>
    <div class="card_infos">
        <div>
            <span [style]="{backgroundColor: card.mundo}" class="server text_shadow">{{ card.mundo }}</span>
            <span class="server poppins-regular-italic">{{ card.type }}</span>
            <i class="fa-solid fa-medal" 
            [style]="{color: color, zIndex: 999}" 
            [matTooltip]="tooltip"
            matTooltipPosition="above"></i>
        </div>
        <span class="text_shadow">{{ card.price | currency: 'BRL' }}</span>
    </div>
    <div class="buttons">
        <button class="box_shadow">
            <i class="fa-solid fa-basket-shopping" style="font-size: 18px;"></i>
        </button>
    </div>
</div>