.card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 250px;
    height: 360px;
    background-color: #232323;
    border: .2px solid rgb(95, 13, 118, .4);
    padding: 10px;
    
    overflow: hidden;
    position: relative;

    --transition-anim: all 300ms ease;
    transition: var(--transition-anim);
}

.badge_revendedor {
    position: absolute;
    right: 10px;
    top: 10px;
}

.badge_revendedor i {
    font-size: 25px;
    color: var(--gold);
}

.card .title {
    transition: var(--transition-anim);
}
    
.card_center {
    width: 100%;
    height: 230px;
}

.card_center img {
    width: 100%;
    transition: var(--transition-anim);
}

.server_bg {
    opacity: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(30px);

    position: absolute;
    top: 20%;
    right: 0;
    transition: var(--transition-anim);
}

.card_infos, .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_infos .server {
    padding: 1px 5px;
    border-radius: 7px;

    font-size: 10px;
}

.card_infos div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttons button {
    width: 100%;
    height: 30px;

    font-size: 12px;

    outline: none;
    border: none;
    cursor: pointer;

    background-color: var(--terciary-color);
    color: #fff;
}

.buttons button:has([oncart]), .is_yours {
    background-color: #e02b2b !important;
}

.text_shadow {
    text-shadow: 1px 1px 3px #000;
}

.card:hover {
    border: .5px solid rgb(255, 255, 255, 0.1);
}

.card:hover img {
    transform: rotate(-5deg) scale(1.7);
}

.card:hover .title {
    opacity: 0;
}

.card:hover .server_bg {
    pointer-events: none;
    opacity: 0.2;
    z-index: 0;
}

.card:hover .buttons button {
    z-index: 10;
}

.loading_cont {
    > * {
        color: transparent !important;
        text-shadow: none !important;
        background: #3c3c3c;
        animation: 1.2s shine linear infinite, 1200ms blink linear infinite;

        background: linear-gradient(110deg, #3c3c3c 8%, #575757 20%, #3c3c3c 33%);
        background-size: 200% 600%;
    }

    & button, i, .card_infos div > *, .card_infos span {
        text-shadow: none !important;
        background-color: transparent !important;
        color: transparent !important;
    }

    & img {
        opacity: 0;
    }
    
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@media(min-width: 425px) {
    .card {
        width: 200px;
        height: 280px;
        font-size: 80%;
    }

    .card img {
        width:80%;
        display: grid;
        place-items: center;
    }
}