<section class="container page_padding poppins-regular">
    <h1>Como funciona?</h1>

    <p>Veja abaixo o processo de troca de itens no site.</p>

    <ul>
        <li>
            <h4>Primeiro passo:</h4>
            <p>Criar uma conta. Não é possível comprar ou vender sem uma conta.</p>
        </li>
        <li>
            <h4>Segundo passo:</h4>
            <p>Encontrar seu item. Nesse caso, você esta comprando, pois assim você busca um item para comprar. Adiciona ao carrinho.</p>
        </li>
        <li>
            <h4>Terceiro passo:</h4>
            <p>Adicionar saldo. Você só precisa adicionar saldo para comprar, não é necessário adicionar para vender ou usar o site. No menu existe a opção de depósito ou no carrinho irá aparecer uma mensagem caso você não tenha saldo.</p>
        </li>
        <li>
            <h4>Quarto passo:</h4>
            <p>Iniciar troca. Você vai ver um campo, no carrinho, para inserir a sua senha, precisamos dela para iniciar a troca, neste momento o seu saldo e o item do usuário ficam reservados, evitando fraude e só será possível ter o saldo de volta caso algum dos dois cancelem a troca.</p>
        </li>
        <li>
            <h4>Quinto passo:</h4>
            <p>Trocar os itens. Você será redirecionado para aba de trades, lá irá mostrar o nome do vendedor caso você não tenha anotado. Adicione ele na sua lista VIP e aguarde, nos enviamos e-mail notificando ambos sobre a troca. Recomendamos que aguarde 12h e se não houver retorno cancele a troca.</p>
        </li>
        <li>
            <h4>Sexto passo:</h4>
            <p>Confirmação. Se tudo ocorrer corretamente, o item será trocado. Após a troca ser bem sucedida o VENDEDOR deve ir para a aba de trocas em vendas e confirmar que enviou o item, após isso o COMPRADOR deve ir a aba de trocas em compras e confirmar que recebeu o item.
            </p>
        </li>
        <li>
            <h4>Sétimo passo (vendedor apenas):</h4>
            <p>Recebimento. Após a troca bem sucedida o saldo será adicionado ao banco de dados do vendedor, a partir daí ele pode solicitar o saque ou comprar outros itens com aquele saldo. No caso do saque, terá um tempo de segurança para verificarmos se tudo ocorreu corretamente e enviar o dinheiro.
            </p>
        </li>
    </ul>
</section>