<section class="container page_padding poppins-regular">
    <h1>Proximas funcionalidades</h1>

    <ul>
        <li>
            <h4>Revendedor Verificado</h4>
            <p>Formas de identificar a autenticas os revendedores que já vendem no jogo pra que possam usufruir do site.</p>
        </li>
        <li>
            <h4>Dinheiro real.</h4>
            <p>Essa é a parte mais importante. O site só irá funcionar se as trocas forem feitas com segurança, então o principal foco do projeto nesse momento é a integração, legal, dos meios de pagamento de forma segura.</p>
        </li>
        <li>
            <h4>Meios de pagamento.</h4>
            <p>Incluir meios de pagamento como PIX, cartão de credito, debito, boleto, etc.</p>
        </li>
        <li>
            <h4>Itens do jogo.</h4>
            <p>Mapeamento de itens e sprites que existem apenas no jogo, para que seja possível diferenciar os itens com as imagens.</p>
        </li>
        <li>
            <h4>TMs do jogo.</h4>
            <p>Para evitar que seja possível vender um tm que não exista no jogo, assim como itens e pokemons, faremos o Mapeamento dos TMs.</p>
        </li>
        <li>
            <h4>Pokemons do jogo.</h4>
            <p>Da mesma forma que o anterior, pokemons que apenas existam e possam ser trocados no jogo. Na versão beta, o site não irá mostrar pokemons que existem em toda franquia apenas em forma shiny, mas no futuro será possível vender pokemons em forma normal e APENAS os que existirem no jogo.</p>
        </li>
        <li>
            <h4>Sistema de cupom.</h4>
            <p>Formas de incentivar quem ajudou na divulgação do site dando cupons para que as pessoas consigam descontos e bônus ao comprar.</p>
        </li>
    </ul>
</section>