@if(isContentLoaded) {

    <div class="container page_padding">
        <div class="player">
            <h1>Olá, <b>{{ playerInfo.nome }}</b></h1>
    
            <h2>Reveja algumas informações:</h2>
    
            <ul>
                <li>
                    <span>Seu nickname: </span>
                    <p class="fake_input">{{ playerInfo.player }}</p>
                </li>
                
                <li>
                    <span>Seu mundo: </span>
                    <p class="fake_input">{{ playerInfo.mundo }}</p>
                </li>
                
                <li>
                    <span>Sua badge: </span>
                    <p class="fake_input">{{ playerInfo.badge }}</p>
                </li>
            </ul>
    
            <h2>Seus dados no site:</h2>
    
            <ul>
                <li>
                    <span>Seus anúncios ativos: </span>
                    <p>{{ playerInfo.anuncios.length }}</p>
                </li>
                <li>
                    <span>Suas vendas já feitas: </span>
                    <p>{{ playerInfo.vendas.length }}</p>
                </li>
                <li>
                    <span>Suas compras: </span>
                    <p>{{ playerInfo.compras.length }}</p>
                </li>
            </ul>
        </div>
    </div>
}
@else {
    <app-loading-spinner></app-loading-spinner>
}