<div class="container">
    <div class="player">
        <h1>Olá, <b>{{ playerInfo.nome }}</b></h1>

        <h2>Reveja algumas informações:</h2>

        <ul>
            <li>
                <span>Seu nickname: </span>
                <p class="fake_input">{{ playerInfo.player }}</p>
            </li>
            
            <li>
                <span>Seu mundo: </span>
                <p class="fake_input">{{ playerInfo.mundo }}</p>
            </li>
            
            <li>
                <span>Sua badge: </span>
                <p class="fake_input">{{ playerInfo.badge }}</p>
            </li>
        </ul>
    </div>
</div>