<section class="container page_padding poppins-regular">
    <h1>Doação</h1>

    <div class="accordion">
        <input type="checkbox" id="accordion1"/>
        <label for="accordion1">Porque doar?</label>
        <i class="fa-solid fa-chevron-down"></i>
        <div class="content">
            <p>A doação é feita para ajudar o projeto.</p>
            <br>
            <p>Por ser um projeto grande e escalável, a doação é muito importante. Fiz questão de comprar um dominio para o site mesmo sendo beta, porém existem outros custos para que eu consiga tornar ele real e funcionando.</p>
            <br>
            <p>Banco de dados, domínio, hospedagem, cdn, backup e principalmente um CNPJ para esse projeto ser legalizado e estar funcionando com segurança para todos. Esses são alguns dos custos.</p>
            <br>
            <p>Lembrando que sou apenas uma pessoa fazendo esse projeto, em todas as etapas eu que fiz tudo. Então tambem custa tempo e caso você apenas queira doar para mim, fique à vontade.</p>
        </div>
    </div>
    <div class="accordion">
        <input type="checkbox" id="accordion2"/>
        <label for="accordion2">Como doar?</label>
        <i class="fa-solid fa-chevron-down"></i>
        <div class="content">
            <p>Siga essas instruções:</p>
            <br>
            <p>1. No botão abaixo você será redirecionado para a página de pix do Nubank, lá você poderá copiar a chave, inserir o valor que quiser e doar.</p>
            <br>

            <p>2. Deixe claro na observação por que está doando. Ex: "Doando para o projeto OtP2P". ou "Doando para o desenvolvedor".</p>

            <br>
            
            <a class="box_shadow transition_all" target="_blank" href="https://nubank.com.br/cobrar/1bkejc/668fe5dd-37a1-4b67-aeed-a8a89eb66cc3">Doar</a>
            
        </div>
    </div>

</section>