:root {
    --confirm-request: #19ac2f8e;
    --denied-request: rgb(209, 37, 37, 0.3);
    --info-request: #f5ed16bd;
}

.container {height: 100%;}

.login, .register {
    width: 250px;

    padding: 15px;
    border-radius: var(--border-radius-medium);
    background-color: #232323;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    text-transform: capitalize;
    font-size: 14px;

    color: var(--secondary-color); /* trocar pela mesma cor do inptu do new offer */
}

form input, form select {
    outline: none;
    border: none;
    border-radius: var(--border-radius-medium);
    padding: 7px;

    background-color: #444343;
    color: #fff;
}


form button {
    outline: none;
    border: none;
    background-color: #9a27ba;
    color: #fff;
    padding: 7px;
    cursor: pointer;
    border-radius: var(--border-radius-medium);
}

.error, .errorLog {
    display: flex;
    gap: 10px;

    padding: 3px;
    
    background-color: rgb(209, 37, 37, 0.3);

    border-radius: 2px;
}

.error span, .error i, .errorLog span, .errorLog i {
    font-size: 12px;
    color: rgb(209, 37, 37);
}

