app-menu {
    position: absolute;
    top: 54px;
    right: 20px;
}

@media(min-width: 375px) {
    app-menu {
        right: 60px;
    }
}

@media(min-width: 425px) {
    app-menu {
        right: 40px;
    }
}

@media(min-width: 768px) {
    app-menu {
        right: 110px;
    }
}

@media(min-width: 1024px) {
    app-menu {
        right: 80px;
    }
}

@media(min-width: 1440px) {
    app-menu {
        right: 200px;
    }
}