.container {
    min-height: 100dvh;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;

}

.buys, .sales, .buys ul, .sales ul {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--basic-gap);
    margin: 20px 0px;

}
h2 {
    color: #5656569c;
}

.buys ul, .sales ul {
    list-style: none;
}

.filters { 
    width: 100%; 
    display: flex; 
    align-items: flex-start;
}

.filters ul {
    display: flex;
    gap: var(--basic-gap);
    list-style: none;
}

.filters ul li {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.300rem;
    color: #fff;
    text-align: center;
    transition: all 300ms ease;
}

.filters ul li:hover {
    background-color: var(--terciary-color);
}
a {
    text-decoration: none; 
    color: #fff;
    font-size: .8rem;
    text-wrap: nowrap;
}

[actived-filter] {
    background-color: var(--secondary-color);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@media (min-width: 768px) {
    .buys, .sales, .buys ul, .sales ul {
        align-items: flex-start;
    }

    .buys ul, .sales ul {
        margin-left: 20px;
    }

}