.container {
    min-height: 100dvh;
}

.buys, .sales, .buys ul, .sales ul {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--basic-gap);
    margin: 20px 0px;

}

.buys ul, .sales ul {
    list-style: none;
}


@media (min-width: 768px) {
    .buys, .sales, .buys ul, .sales ul {
        align-items: flex-start;
    }

    .buys ul, .sales ul {
        margin-left: 20px;
    }

}