@if(isLoaded) {
    <div class="container page_padding poppins-regular">
        <div class="filters">
            <ul class="box_shadow rounded_medium">
                <li id="buys" (click)="switchFilter('buys')">
                    <a>Compras</a>
                </li>
                <li id="sales" (click)="switchFilter('sales')">
                    <a>Vendas</a>
                </li>
                
            </ul>
        </div>
        @if(filterType === 'buys' && isLoadedFilter) {
            <div class="buys">
                <h2>Reveja suas compras.</h2>
        
                <ul>
                    @for(item of playerBuys.reverse().slice(0, 20); track $index) {
                        <li>
                            <app-trades-card (cancelPopup)="openModal($event)" [item]="item" type="buy"></app-trades-card>
                        </li>
                    }
        
                    @empty {
                        <small>Nenhuma troca encontrada.</small>
                    }
                </ul>
            </div>

        } 
        @else if(filterType === 'sales' && isLoadedFilter) {
            <div class="sales">
                <h2>Reveja suas vendas.</h2>
        
                <ul>
                    @for(item of playerSales.reverse().slice(0, 20); track $index) {
                        <li>
                            <app-trades-card (cancelPopup)="openModal($event)" [item]="item" type="sale"></app-trades-card>
                        </li>
                    }
        
                    @empty {
                        <small>Nenhuma venda encontrada.</small>
                    }
                </ul>
            </div>

        }@else {
            <app-loading-spinner></app-loading-spinner>
        }

    </div>

    <dialog #myDialog class="rounded_small box_shadow poppins-regular">

        <section>
            <div>
                <h2>Tem certeza que deseja cancelar esta trade?</h2>
                <p>Esta ação não podera ser desfeita.</p>
            </div>
    
            <div class="pass_form">
                <label for="password">Sua senha: </label>
                <input type="password" #password class="transition_all">
            </div>
    
            <div class="buttons">
                <button (click)="cancelTrade(password.value, itemToDelete)" class="box_shadow transition_all poppins-light">Confirmar</button>
                <button (click)="myDialog.close()" class="box_shadow transition_all poppins-light">Cancelar</button>
            </div>
            <small>OBS: apenas itens com situação "ordered" podem ser cancelados.</small>
        </section>

    </dialog>
}
@else {
    <app-loading-spinner></app-loading-spinner>
}