<footer class="footer poppins-regular">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Links Úteis</h3>
          <ul>
            <li><a (click)="goToRoute('')">Página Inicial</a></li>
            <li><a (click)="goToRoute('terms')">Termos de serviço</a></li>
            <li><a (click)="goToRoute('politics')">Politicas de privacidade</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Informações</h3>
          <p>Um site de Fan, feito para fans do game para democratizar o comércio de itens virtuais no otPokémon.</p>
          <p>Autor: <a target="_blank" href="https://github.com/Sr-van">Vanderson</a></p>
        </div>
        <div class="col-md-4">
          <h3>Direitos Autorais</h3>
          <p>&copy; 2024 OtP2P.</p>
          <p>Pokémon Copyright © 1995 - 2017 Nintendo/Creatures Inc./GAME FREAK Inc. Pokémon And All Respective Names are Trademarks of Nintendo 1996-2016 otPokémon is not affiliated with Nintendo, Creatures Inc. and GAME FREAK Inc.</p>
        </div>
      </div>
    </div>
  </footer>
  