@if(isLoad) {
    <div class="container transition_all page_padding poppins-regular">

    @if(isLoad) {

        <h2>{{ item.header | header: item.type }}</h2>
        
        <div class="item transition_all rounded_small">
    
            <div class="img transition_all rounded_small">
                <img [src]="source" [alt]="item.header">
            </div>
    
            <div class="description rounded_small">
                <div class="player_info">
                    <span>Player: {{ item.player }}</span>
                    <i class="fa-solid fa-medal" 
                    [style]="{color: color, zIndex: 999}" 
                    [matTooltip]="tooltip"
                    matTooltipPosition="above"></i>
                </div>
                <span>Tipo: {{ item.type }}</span>
                <span>Mundo: {{ item.mundo }}</span>
                <span>{{ item.description }}</span>
                <span>{{ item.price | currency: 'BRL' }}</span>
    
                <div class="buttons">
                    <div class="buttons">
                        <button class="box_shadow rounded_small" (click)="addToCart()">
                            @if(!isOnCart) {

                                <i class="fa-solid fa-basket-shopping" style="font-size: 18px; pointer-events: none;"></i>
                            } @else {

                                <i oncart class="fa-solid fa-x" style="font-size: 18px; pointer-events: none;"></i>
                            }
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="player_lists rounded_small">
            <span style="cursor: pointer;" (click)="goToPlayer(item.player)">Mais itens de <b class="poppins-bold">{{ item.player }}</b></span>
    
            <small class="poppins-regular-italic">Anuncios</small>
    
            <ul class="anuncios rounded_small">
                @for(anuncio of anuncios.slice(0, 5); track $index) {
                    <li>
                        <span>{{ anuncio.player }}</span>
                        <app-card [card]="anuncio"></app-card>
                    </li>
                }
                @empty {
                    <span>Este jogador não tem mais anuncios.</span>
                    
                }
                
            </ul>
            <small class="poppins-regular-italic">Vendas</small>
            
            <ul class="vendas rounded_small">
                @for(venda of vendas.slice(0, 5); track $index) {
                    <li>
                        <!-- change app-card for a card with no actions -->
                        <app-infocard [card]="venda"></app-infocard>
                    </li>
                }
                @empty {
                    <span>Este jogador não tem vendas ainda.</span>
                }
            </ul>
    
            <small class="poppins-regular-italic">Compras</small>
            
        
            <ul class="compras rounded_small">
                @for(compra of compras.slice(0, 5); track $index) {
                    <li>
                        
                        <!-- change app-card for a card with no actions -->
                        <app-infocard [card]="compra"></app-infocard>
                    </li>
                }
                @empty {
                    <span>Este jogador não tem compras ainda.</span>
                }
            </ul>
        </div>
    }

    @else {
        <span>Loading</span>
    }
    

</div>
}
@else {
    <app-loading-spinner></app-loading-spinner>
}