main { 
    min-height: 100dvh; 
    display: flex;
    flex-direction: column;
    gap: var(--basic-gap);
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    transition: all 240ms ease-out;
}

.list:has(span) {
    flex-direction: column;
    align-items: flex-start;
}

.list span {
    font-size: 12px;
}

.list li:first-child {
    border-top-left-radius: 0.200rem;
    border-top-right-radius: 0.200rem;
}

.list li:last-child {
    border-bottom-right-radius: 0.200rem;
    border-bottom-left-radius: 0.200rem;
}
.itens_shop {
    width: 100%;
}
.itens_shop .list {
    gap: 10px;
    flex-wrap: wrap;
}
.server_list li, .type_list li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 250px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.server_list {
    overflow: hidden;
}
.blur_layer {
    opacity: 0;
}

[using-filter-serv].blur_layer {
    opacity: .4;
}

[using-filter-serv].type_filter {
    background-color: #454545 !important;
} 

.list li:hover .blur_layer{ 
    opacity: .4;
}

.type_list li, .server_list li {
    background-color: #232323;
}

.list li p {
    pointer-events: none;
}

.titles {
    width: 100%;
}

.search {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    margin-bottom: 10px;
}

.search input, .toggle_btn {
    width: 270px;
    height: 30px;

    border: none;
    outline: none;
    border-radius: .2rem;
    padding: 10px;

    background-color: #232323;
    color: #fff;
}

.toggle_btn {
    height: 50px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

    transition: all 200ms ease;
}

[using-filter] {
    height: 30px;
    font-size: 12px;
    background-color: #454545;
}

.search i {
    cursor: pointer;
}

.hidden {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 300ms ease;
    margin-top: 0px
}

mat-paginator {
    background-color: #27262e !important;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2) !important;
    color: #fff !important;
    
    width: clamp(350px, 350px, 550px) !important;
    margin-bottom: 30px;
    
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

@media(min-width: 325px) {
    .list {justify-content: space-between;}
}

@media(min-width: 425px) {
    .server_list {
        width: 350px; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        place-items: center;
    }
    .server_list li, .type_list li {
        width: 100%;
    } 
    .type_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

@media (min-width: 768px) {
    .list { width: 550px;}
    .server_list, .type_list {
        display: flex;
    }
    .itens_shop .list:has(app-card) {
        flex-direction: row;
        justify-content: space-between;
    }
    .type_list li { width: 100%;}

    .server_list li {width: 11%;}

    .list:not(.type_list) li:first-child {
        border-top-left-radius: 0.200rem;
        border-bottom-left-radius: 0.200rem;
        border-top-right-radius: 0px;
    }
    
    .list:not(.type_list) li:last-child {
        border-top-right-radius: 0.200rem;
        border-bottom-right-radius: 0.200rem;
        border-bottom-left-radius: 0px;
    }

    .type_list li:first-child {
        border-top-left-radius: 0.200rem;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0.200rem;
    }
    
    .type_list li:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0.200rem;
        border-bottom-left-radius: 0.200rem;
    }

}

@media(min-width: 1024px) {
    .list {
        width: 850px;
        flex-wrap: nowrap;
    }
    .list li:first-child {
        border-top-left-radius: 0.200rem;
        border-bottom-left-radius: 0.200rem;
        border-top-right-radius: 0px;
    }
    
    .list li:last-child {
        border-top-right-radius: 0.200rem;
        border-bottom-right-radius: 0.200rem;
        border-bottom-left-radius: 0px;
    }
    .list li { width: 100%;}
    .itens_shop .list:has(app-card){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 1440px) {
    .list { width: 1050px;}
    .itens_shop .list:has(app-card) {
        grid-template-columns: repeat(5, 1fr);
    }
}