
<main class="container poppins-regular">
    <!-- conteudo principal -->

    <!-- listas com filtros -->
    <!-- filtro de servidor -->
    <div class="titles">
        <h4 class="mgb">Servidor:</h4>
    </div>

    <div style="width: 100%; display: flex; align-items: start;">
        <button class="toggle_btn" (click)="toggleFilter(server)">Mostrar servidores</button>
    </div>
    <ul class="hidden server_list list" #server>
        @for(server of servidores; track $index) {
            <li (click)="addFilter('server', $event)" [attr.data-filter]="server">
                <div class="blur_layer">
                </div>
                <p > {{ server }}</p>
            </li>

        }
    </ul>

    <!-- filtro de tipo -->
    <div class="titles">
        <h4 class="mgb">Tipo:</h4>

    </div>

    <div style="width: 100%; display: flex; align-items: start;">
        <button class="toggle_btn" (click)="toggleFilter(type)">Mostrar tipos</button>
    </div>

    <ul class="hidden type_list list" #type>
        @for(tipo of tipos; track $index) {

            <li (click)="addFilter('type', $event)" [attr.data-filter]="tipo"> 
                {{ tipo }}
            </li>
        }
    </ul>

    <div class="search">
        <input type="text" id="search" placeholder="Busque pelo nome do item..." #search>
        <i class="fa-solid fa-magnifying-glass" (click)="searchItens(search.value)"></i>
    </div>

    @if(isload) {

        <div class="itens_shop">
            <ul class="list">
                @for(sale of filteredSales; track $index) {
                    <app-card [card]="sale"></app-card>
                }
                @empty { 
                    <span>Não há items :(</span>
                }
            </ul>

            @if(filteredSales.length > 10) {
                
                <div class="paginator container">
    
                    <mat-paginator
                        #paginator
                        pageSize="10"
                        [length]="filteredSales.length"></mat-paginator>
                    <!-- limite de 30 itens por pagina -->
                </div>
            }

            </div>
    }

    @else {
        <app-loading-spinner></app-loading-spinner>
    }

</main>


<footer>
    <!-- informacoes pertinentes e de copyright -->
</footer>