
<main class="container poppins-regular page_padding">
    <!-- conteudo principal -->

    <!-- listas com filtros -->
    <!-- filtro de servidor -->
    <div class="titles">
        <h4 class="mgb">Servidor:</h4>
    </div>

    <div style="width: 100%; display: flex; align-items: start;">
        <button class="toggle_btn" (click)="toggleFilter($event, server)">Mostrar servidores
        </button>
    </div>
    <ul class="hidden server_list list rounded_small" #server>
        @for(server of servidores; track $index) {
            <li (click)="addFilter('server', $event)">
                <div [attr.data-filter]="server" [style]="{
                    background: 'linear-gradient(0deg, ' + server + ' 0%, rgba(0,212,255,0) 90%)',
                    position: 'absolute',
                    width: '100%',
                    height: '100%',
                    transition: 'all 300ms ease',
                    }" class="blur_layer">
                </div>
                <p > {{ server }}</p>
            </li>

        }
    </ul>

    <!-- filtro de tipo -->
    <div class="titles">
        <h4 class="mgb">Tipo:</h4>

    </div>

    <div style="width: 100%; display: flex; align-items: start;">
        <button class="toggle_btn" (click)="toggleFilter($event, type)">Mostrar tipos</button>
    </div>

    <ul class="hidden type_list list rounded_small" #type>
        @for(tipo of tipos; track $index) {

            <li (click)="addFilter('type', $event)" [attr.data-filter]="tipo" class="type_filter"> 
                {{ tipo }}
            </li>
        }
    </ul>

    <div class="search">
        <input type="text" id="search" placeholder="Busque pelo nome do item..." #search>
        <i class="fa-solid fa-magnifying-glass" (click)="searchItens(search.value)"></i>
    </div>

    @if(isload) {

        <div class="itens_shop">
            <ul class="list">
                @for(sale of paginatorSales.slice(0, 10); track $index) {
                    <app-card [card]="sale"></app-card>
                }
                @empty { 
                    <span>
                        Nenhum anuncio encontrado...
                    </span>
                    <span>
                        Seja o primeiro a vender seu item <a routerLink="/add/offer">aqui!</a>
                    </span>
                    <span>
                        Seus anúncios aparecerão para outros players, caso queira ver seus anuncios <a routerLink="/your-offers">clique aqui!</a>
                    </span>
                }
            </ul>

            @if(filteredSales.length > 30) {
                
                <div class="paginator container">
    
                    <mat-paginator
                        #paginator
                        pageSize="30"
                        [length]="filteredSales.length"
                        [pageIndex]="currentPage"
                        (page)="handlePagation($event)"></mat-paginator>
                    <!-- limite de 30 itens por pagina -->
                </div>
            }

            </div>
    }

    @else {
        <app-loading-spinner></app-loading-spinner>
    }

</main>


<footer>
    <!-- informacoes pertinentes e de copyright -->
</footer>