.card, .card .infos_card ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    padding: 10px;
    width: 250px;
    background-color: #232323;
    
}

.card .infos_card ol {
    list-style: none;
}

.card .infos_card ol li {
    font-size: 12px;
}