<div class="card box_shadow">
    <span class="title_card">Item: {{ card.header | header: card.type}}</span>

    <div class="infos_card">
        <ol>
            <li>Descrição: {{ card.description }}</li>
            <li>Tipo: {{ card.type }}</li>
            <li>Mundo {{ card.mundo }}</li>
            <li>{{ card.price | currency: 'BRL' }}</li>
            <!-- add date pipe when date is working -->
            <li>Vendido: {{ card.date }}</li>
            <li>vendido para: {{ card.trade_player }}</li>

        </ol>
    </div>
</div>
