.menu {
    background-color: #232323;
    color: #fff;

    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    width: 150px;
    border-radius: var(--border-radius-medium);

    position: absolute;
    left: 50%;
    transform: translateX(-20%);
}

.overlay {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    backdrop-filter: blur(2px);
}

.menu li {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 10px 20px;

    cursor: pointer;
    transition: all 300ms ease;
}

.menu li:hover {
    background-color: #76717191;
}

.menu li:nth-child(1)::after, .menu li:nth-child(3)::after, .menu li:nth-child(6)::after {
    content: '';
    position: absolute;
    width: 150px;
    height: .5px;
    background-color: rgb(128, 128, 128, 0.4);

    bottom: 0;
    left: 0;
}

.menu li p {
    font-size: 12px;
}

.menu li .fa-arrow-up {
    color: #219416;
}
.menu li .fa-arrow-down {
    color: #ba3713;
}
.menu li .fa-arrows-rotate {
    color: #136fba;
}
.menu li .fa-tag {
    color: #ece80d;
}
.menu li .fa-store {
    color: #421ea4;
}

.menu li .fa-right-from-bracket, .menu li:last-child p {
    color: #d20e0e;
}

.menu .feedback, .menu .donate {
    position: relative;

    & .beta-tag {
        position: absolute;
        top: -5px;
        right: -5px;

        background-color: var(--terciary-color);
        font-size: 8px;
        letter-spacing: 2px;
        padding: 1px 5px;
        border-radius: .200rem;
    }
}
@media(width >= 425px) {
    .menu {
        left: 70%;
        transform: translateX(-55%);
    }
}
@media(width >= 768px) {
    .menu {
        transform: translateX(-20%);
    }
}
@media(width >= 1024px) {
    .menu {
        left: 80%;
        transform: translateX(-20%);
    }
}
@media(width >= 1280px) {
    .menu {
        left: 72%;
        transform: translateX(-10%);
    }
}
@media(width >= 1440px) {
    .menu {
        left: 80%;
        transform: translateX(-40%);
    }
}

@media(width > 1980px) {
    .menu {
        left: 70%;
        transform: translateX(-90%);
    }
}
