@if(isMenuOpen){

    <ul class="menu">
        <li (click)="goToRoute('profile')">
            <i class="fa-solid fa-user"></i>
            <p>Perfil</p>
        </li>
        <li>
            <i class="fa-solid fa-arrow-up"></i>
            <p>Deposito</p>
        </li>
        <li>
            <i class="fa-solid fa-arrow-down"></i>
            <p>Saque</p>
        </li>
        <li>
            <i class="fa-solid fa-arrows-rotate"></i>
            <p>Trocas</p>
        </li>
        <li (click)="goToRoute('add/offer')">
            <i class="fa-solid fa-tag"></i>
            <p>Vender item</p>
        </li>
        <li>
            <i class="fa-solid fa-store"></i>
            <p>Suas vendas</p>
        </li>
        <li (click)="logOut()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <p>Sair</p>
        </li>
    </ul>

}
