@if(isCartOpen) {

    <div class="overlay transition_all">
        <div class="cart rounded_small shadow">

            @if(!isLoaded && cart.length > 0) {
                <app-loading-spinner></app-loading-spinner>
            }
            @else {
                
                <div class="header">
                    <span>Seu carrinho</span>
                    <small>{{ cart.length }} items</small>
                </div>
        
                <div class="content">
                    @for(item of cart; track $index) {
                        <app-cart-card [item]="item"></app-cart-card>
                    }
                </div>
            }

            <div class="footer">
                <span>
                    <p>Total:</p> 
                    <b>{{ total | currency: 'BRL' }}</b></span>
                <!-- add button and logic to verify player amount and change de DOM -->
                @if(cart.length > 0) {

                    <button class="box_shadow rounded_small" (click)="addTrade()">Finalizar</button>
                    <small style="font-size: 10px; margin-top: 5px; color: #5656569c;">Pelo site estar no beta, talvez você precise repetir a operação várias vezes para finalizar todo seu carrinho.</small>
                }

            </div>
        </div>

    </div>
}

