@if(isCartOpen) {

    <div class="overlay transition_all">
        <div class="cart rounded_small shadow">
    
            <div class="header">
                <span>Seu carrinho</span>
                <small>{{ cart.length }} items</small>
            </div>
    
            <div class="content">
                @for(item of cart; track $index) {
                    <app-cart-card [item]="item"></app-cart-card>
                }
            </div>

            <div class="footer">
                <span>
                    <p>Total:</p> 
                    <b>{{ total | currency: 'BRL' }}</b></span>
                <button class="box_shadow rounded_small">Finalizar</button>
            </div>
        </div>

    </div>
}

