:host {
    position: absolute;
}

.cart {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: .7rem;
    width: 250px;
    max-width: 300px;
    min-height: 60px;
    background-color: #232323;
    color: #fff;
}

.cart .header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.cart .header small {
    font-size: .9rem;
    color: #b6b6b6;
}

.overlay {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    backdrop-filter: blur(2px);
}

.cart .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cart .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .footer span > p {
    font-size: .8rem;
    margin: 0;
    color: #b6b6b6;
}

.cart .footer button {
    background-color: var(--terciary-color);
    border: none;
    color: #fff;
    font-size: .7rem;
    padding: 10px;
    cursor: pointer;
}

@media(min-width: 425px) {
    .cart {
        right: 3rem;
        width: 300px;
    }
}
@media(min-width: 768px) {
    .cart {
        right: 6.4rem;
        max-width: 400px;
    }
}

@media (min-width: 1024px) {
    .cart {
        right: 10rem;
        max-width: 500px;
    }
}