:host {
    position: fixed;
    top: 80px;
    right: 0;
    z-index: 100;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 250px;
    min-height: 60px;
    background-color: #232323;
    color: #fff;
}