/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #5f0d76;
    --secondary-color: #8a2be2;
    --terciary-color: #9a27ba;
    --bronze: rgb(137, 62, 53);
    --silver: rgb(91, 99, 111);
    --gold: rgb(255, 217, 0);
    --diamond: rgb(0, 234, 255);
    --succes-color: #209513;
    --border-radius-buttons: 4px;
    --border-radius-small: 2px;
    --border-radius-medium: 6px;
    --border-radius-big: 8px;
    --basic-padding: 10px;
    --basic-gap: 10px;
}

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { background-color: #27262e; color: #fff;}

.page_padding { padding-top: 90px !important;}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.mgb {
    margin-bottom: 10px;
}

.container {
    display: grid;
    place-items: center;
    width: 250px;
    margin: 0 auto;

    overflow: hidden;

    transition: all 300ms ease;
}

.box_shadow {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.transition_all {
    transition: all 300ms ease;
}
.rounded_small {
    border-radius: 0.200rem;
}
.rounded_medium {
    border-radius: 0.400rem;
}
.rounded_big {
    border-radius: 0.800rem;
}
.rounded_all {
    border-radius: 9999px;
}

.rounded_small_bottom {
    border-bottom-left-radius: 0.200rem;
    border-bottom-right-radius: 0.200rem;
}

.rounded_small_top {
    border-top-left-radius: 0.200rem;
    border-top-right-radius: 0.200rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack_success > div {
    background-color: var(--succes-color) !important;
    color: #fff !important;
}

.snack_fail > div {
    background-color: #c91d14 !important;
    color: #fff !important;
}

.snack .mdc-button__label {
    color: #fff !important;
}


.mat-mdc-autocomplete-panel {
    background-color: #4a4a4a !important;
}

.mat-mdc-autocomplete-panel .mat-mdc-option {
    color: #fff !important;
}

@media(min-width: 425px) {
    .container { width: 350px;}
}

@media(min-width: 768px) {
    .container { width: 550px;}
}

@media(min-width: 1024px) {
    .container { width: 850px;}
}

@media(min-width: 1440px) {
    .container { width: 1050px;}
}

